*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: url(Img1.jpg) no-repeat center center/cover;
    width: 100%;
    height: 930px;
}

.sidebar{
 position: fixed;
  left: -250px;
  height: 100%;
  width: 250px;
  background: skyblue;
  transition: all .5s ease;
}

.sidebar img{
    height: 190px;
    padding-left: 20px;
    padding-top: 10px;
}

.sidebar header{
    font-size: 28px;
    color: black;
    text-align: center;
    line-height: 60px;
    background: rgb(5, 204, 204);
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 35px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
}

ul li:hover{
    padding-left: 20px;
}

#check{
    display: none;
}

label #bar, label #cancle{
    position: absolute;
    cursor: pointer;
}

label #bar{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: black;
    padding: 6px 2px;
    transition: all .5s;
}

label #cancle{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #bar{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}


#check:checked ~ label #cancle{
    left: 195px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color:  rgb(245, 73, 11);
    color: white;
    margin: 35px;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
}


.heading h1{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 77px;
    font-size: 65px;
}

.heading p{
     align-items: center;
     text-align: center;
     font-size: 25px;
}

#services{
    display: flex;
    justify-content: center;
    padding-top: 18%;
    margin-left: 90px;
}


#services .box{
    padding: 20px;
    margin: 2px 20px;
    border-radius: 23px;
    background-color: rgb(240, 231, 231);
    margin-bottom: 20px;
    text-align: center;
}

#services .box img{
   height: 100px;
   margin: auto;
   display: block;
   border-radius: 100px;
   
}

#services .box p{
    font-family: 'Oswald', sans-serif;
}


.header{
    text-align: center;
    margin-top: 2%;
    color: black;
}

